.teams-container {
    background-color: #007bff;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

.team-card {
    background: #1B5BB3;
    border: 1px solid #D718EF;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    border-color: #007bff;
}

.team-card img {
    margin-bottom: 10px;
    object-fit: contain;
}

.team-card h3 {
    margin: 10px 0 5px 0;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.team-card p {
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}


@media (max-width: 992px) {
    .team-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
    .team-grid { grid-template-columns: 1fr; }
}